input::-webkit-input-placeholder {
    color: whitesmoke;
}
body{
    background-color: palevioletred;
}
input {
    margin-left: 10px;
    width: 150px;
    height: 21px;
    border-radius: 10px;
    border-width: 0.5px;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    border: 1px solid whitesmoke;
}