<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/style.css">
</head>

<body>

    <h1>{{toDoListTitle}}</h1>
    <form action="/add_list" method='post'>
        <p>
            {% set contentTitle = '할 일 추가' %}
            <label for="content">{{contentTitle}}:</label>
            <input type="text" name='content'>
            <input type="submit" value='추가하기'>
        </p>
        <p>
        <ul>
            {% for val in toDoLists %}
            <li>
                {% set todoNoId = val.substring(0,val.indexOf('_')) %}
                {{loop.index}}번째 {{todoNoId}}
                <button type="button" onclick='location.href="/delete_list/{{val}}"'>삭제</button>
                <a href="/open_update/{{val}}">수정하기</a>
            </li>
            {% endfor %}

        </ul>
        </p>
    </form>



    <script src="app.js"></script>
</body>

</html>