<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link type="text/css" rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="bigcase" >
        <form class="formcase" action="/add_list" method='post' >
            <h1>{{toDoListTitle}}</h1>
            <div>
                <!-- {% set contentTitle = '할 일 추가' %}
                <label for="content">{{contentTitle}}:</label> -->
                <input class="inputtext" type="text" name='content'>
                <input class="button" type="submit" value='추가하기'>
            </div>
            <div>
                <ul>
                    {% for val in toDoLists %}
                    <li>
                        {% set todoNoId = val.substring(val.indexOf('_')+1, val.indexOf('.')) %}
                        <span class="circle">
                            {{loop.index}}
                        </span>
                         {{todoNoId}}
                        <button class="button"  onclick='location.href="/delete_list/{{val}}"'>삭제</button>
                        <a class="button" href="/open_update/{{val}}">수정</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>

    </form>
    </div>
    
</body>

</html>